/* Fullscreen for large screens */
.map-container {
  height: 95vh;
}

/* Tablet view */
@media (max-width: 1024px) {
  .map-container {
    height: 85vh;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .map-container {
    height: 80vh;
  }
}
